<h3>input basicos</h3>
<div>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="ingrese un nombre"
      [value]="usuario.nombre"
    />
  </mat-form-field>
</div>

<h3>input prefijos y sufijos</h3>
<div>
  <mat-form-field>
    <span matPrefix>+1&nbsp;</span>
    <input type="text" matInput placeholder="telefono" />
    <span matSuffix><mat-icon>phone</mat-icon></span>
  </mat-form-field>
</div>

<h3>otro input</h3>
<div>
  <mat-form-field>
    <input type="text" matInput placeholder="direccion" />
    <mat-hint>calle y numero de domicilio</mat-hint>
  </mat-form-field>
</div>
