.mars-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mars-content {
  width: 200px;
  box-sizing: border-box;
  margin: 15px;
}

.title {
  text-align: center;
  margin: 50px 0;
}
