<h1 class="mat-headline title">Mars Rover Images</h1>

<div>
  <mat-form-field>
    <mat-select placeholder="select camera" [(ngModel)]="currentCamera">
      <mat-option
        *ngFor="let cam of cameras"
        [value]="cam"
        (click)="onSelectCamera(cam)"
        >{{ cam }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div class="mars-container">
    <mat-card *ngFor="let image of marsImage" class="mars-content">
      <mat-card-header>
        <mat-card-title> {{ image.id }} </mat-card-title>
        <mat-card-subtitle>{{ image.rover.name }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="image.img_src" alt="" />
    </mat-card>
  </div>
</div>
