<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Botones</mat-panel-title>
  </mat-expansion-panel-header>
  <fd-material-button></fd-material-button>
</mat-expansion-panel>
<br />
<mat-expansion-panel expanded="false">
  <mat-expansion-panel-header>
    <mat-panel-title>Input</mat-panel-title>
  </mat-expansion-panel-header>
  <fd-material-input></fd-material-input>
</mat-expansion-panel>
<br />
<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>Listas</mat-panel-title>
  </mat-expansion-panel-header>
  <fd-material-list></fd-material-list>
</mat-expansion-panel>
