<h3>Botones</h3>
<div>
  <button mat-button disabled="{{formulario.valido}}">Basico</button>
  <button mat-button [disabled]="formulario.valido" color="primary">
    Primary
  </button>
</div>
<h3>botones con elevacion</h3>
<div>
  <button mat-raised-button>basico raised</button>
  <button mat-raised-button color="primary">basico raised</button>
</div>
<h3>botones con iconos</h3>
<div>
  <button mat-icon-button><mat-icon>grade</mat-icon></button>
  <button mat-icon-button color="primary"><mat-icon>grade</mat-icon></button>
</div>
<h3>botones de accion flotantes</h3>
<div>
  <button mat-fab><mat-icon>grade</mat-icon></button>
  <button mat-fab color="primary"><mat-icon>menu</mat-icon></button>
</div>
