<h1 class="mat-headline title">Astronomy Picture of The Day</h1>

<div class="card-container">
  <mat-card class="example-card" *ngIf="apod">
    <mat-card-header>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg"
        alt=""
        mat-card-avatar
      />
      <mat-card-title> {{ apod.title }} </mat-card-title>

      <mat-card-subtitle>{{
        apod.date | date: "mediumDate"
      }}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="apod.media_type === 'image'">
      <img mat-card-image [src]="apod.url" alt="Photo of a Shiba Inu" />
    </div>
    <div *ngIf="apod.media_type === 'video'">
      <video [src]="apod.url"></video>
    </div>
    <mat-card-content>
      <p>{{ apod.explanation }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [href]="apod.hdurl" target="_blank"><b>Ver en HD</b></a>
    </mat-card-actions>
  </mat-card>

  <div class="card-container" *ngIf="!apod && !error">
    <br />
    <br />
    <mat-spinner class="card-content"></mat-spinner>
  </div>

  <div *ngIf="error" class="card-container">
    <mat-card class="card-content">
      <mat-card-header>
        <mat-card-title><mat-icon>error</mat-icon> {{ error }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
