<!-- <mat-list>
  <mat-list-item *ngFor="let estu of lista">
    <img
      *ngIf="estu.fotoURL"
      [src]="estu.fotoURL"
      alt=""
      mat-line
      mat-list-avatar
    />
    <img
      *ngIf="!estu.fotoURL"
      [src]="DEFAULT_PICTURE"
      alt=""
      mat-line
      mat-list-avatar
    />
    <span mat-line>{{ estu.nombre }}</span>
    <span mat-line>{{ estu.ciudad }}</span>
  </mat-list-item>
</mat-list> -->

<mat-list>
  <fd-item-estudiante *ngFor="let est of lista" [estudiante]="est">
  </fd-item-estudiante>
</mat-list>
